html, body {
  font: 1rem sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

.Bedroom{
  background-color: steelblue;
}

.LivingRoom{
  background-color: tan;
}

.Kitchen{
  background-color: goldenrod;
}

.Bath{
  background-color: olivedrab;
}

.Oven{
  background-color: firebrick;
}

.Sink{
  background-color: chocolate;
}